h1, h2, p, label {
	font-family: arial;
}

h1 {
	text-align: center;
}

section {
	padding: 5% 5% 0 5%;
}

select {
	margin-bottom: 15%;
}

#choose-time {
	margin-top: 5%;
}

.column {
	width: 50%; 
	float: left;
}

.label-wrapper {
	padding: 2% 0;
}

#canvas_zebra {
	border: 1px dotted;
}



